;;
; Copyright(c) 2010-2015 Intel Corporation.
; All rights reserved.
;
; Redistribution and use in source and binary forms, with or without
; modification, are permitted provided that the following conditions
; are met:
;
;   * Redistributions of source code must retain the above copyright
;     notice, this list of conditions and the following disclaimer.
;   * Redistributions in binary form must reproduce the above copyright
;     notice, this list of conditions and the following disclaimer in
;     the documentation and/or other materials provided with the
;     distribution.
;   * Neither the name of Intel Corporation nor the names of its
;     contributors may be used to endorse or promote products derived
;     from this software without specific prior written permission.
;
; THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
; "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
; LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
; A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
; OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
; SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
; LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
; DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
; THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
; (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
; OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
;;

;;
; This is one of the most basic configurations. Note that this configuration
; does not perform any real work as opposed to configurations like BNG/BRAS
; or lwAFTR. This configuration sets up four interfaces and five cores (one
; master core and four worker cores). Packets are passed (i.e. without being
; touched) as follows:
; - interface 0 to interface 1 (handled by core 1)
; - interface 1 to interface 0 (handled by core 2)
; - interface 2 to interface 3 (handled by core 3)
; - interface 3 to interface 2 (handled by core 4)
;;

[eal options]
-n=4 ; force number of memory channels
no-output=no ; disable DPDK debug output

[port 0]
name=if0
mac=hardware
[port 1]
name=if1
mac=hardware
[port 2]
name=if2
mac=hardware
[port 3]
name=if3
mac=hardware

[defaults]
mempool size=2K

[global]
start time=5
name=NOP forwarding (4x)

[core 0s0]
mode=master

[core 1s0]
name=nop
task=0
mode=nop
rx port=if0
tx port=if1
drop=no

[core 2s0]
name=nop
task=0
mode=nop
rx port=if1
tx port=if0
drop=no

[core 3s0]
name=nop
task=0
mode=nop
rx port=if2
tx port=if3
drop=no

[core 4s0]
name=nop
task=0
mode=nop
rx port=if3
tx port=if2
drop=no
